In [24]:
import numpy as np
import pandas as pd

print("machine learnig algorithm")

machine learnig algorithm

In [25]:
arr = np.array(["munna", "ifti"])
print(arr)
print(np.__version__)

['munna' 'ifti']
1.16.5

In [26]:
data = {
    "name": ["munna", "ifti"],
    "number": [13, 26]
}

pd_output = pd.Series(data)
print(pd_output)
print(pd.DataFrame(data))

name      [munna, ifti]
number         [13, 26]
dtype: object
    name  number
0  munna      13
1   ifti      26

In [34]:
# %reacd csv file 
data_set = pd.read_csv(r"I:\1.CSE\Thesis\LCPUMLA\Datasets\lung_cancer3.csv")
print(data_set.head(10))

          Name  Member_ID Diagnosis  Age  Smokes Smokes (years)  \
0         Wick      91550         M   35       3              0
1  Constantine     915664         M   27      20              0
2     Anderson     915691         M   30       0              0
3       Telles     915940         M   28       0             37
4     Maradona   91594602         M   68       4              0
5      Ronaldo     916221         M   34       0              0
6          Tal     916799         M   58      15             34
7        Bates     916838         M   22      12              0
8       Kidman     917062         M   45       2              0
9      Milland     917080         M   52      18    1.266972909

  Smokes (packs/year)  AreaQ  Alkhol  family history  Result
0                   0      5       4               0       1
1                   0      2       5               0       1
2                   0      5       2               0       0
3                  37      8       1               1       0
4                   0      5       6               0       1
5                   0     10       0               0       0
6                 3.4     10       0               0       0
7                   0      5       2               1       0
8                   0      6       0               1       0
9                 2.8      4       5               0       1

In [37]:
print(data_set.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 11 columns):
Name                   1298 non-null object
Member_ID              1298 non-null int64
Diagnosis              1298 non-null object
Age                    1298 non-null int64
Smokes                 1298 non-null int64
Smokes (years)         1298 non-null object
Smokes (packs/year)    1298 non-null object
AreaQ                  1298 non-null int64
Alkhol                 1298 non-null int64
family history         1298 non-null int64
Result                 1298 non-null int64
dtypes: int64(7), object(4)
memory usage: 111.7+ KB
None

In [40]:
print(data_set.tail(10))

           Name  Member_ID Diagnosis  Age  Smokes Smokes (years)  \
1288    Hepburn     925291         B   62      20              0
1289    Hepburn     925292         B   42      12              0
1290  Streisand     925311         B   44      30              0
1291      Smith     925622         B   26      34              0
1292    Jackson     926125         M   35      20             18
1293   Borgnine     926424         M   26      13              0
1294   Guinness     926682         B   77      20              0
1295     Heston     926954         M   75      15              0
1296       Peck     927241         M   43      30              7
1297    Poitier      92751         B   51      25              0

     Smokes (packs/year)  AreaQ  Alkhol  family history  Result
1288                   0      5       6               1       1
1289                   0      6       2               1       0
1290                   0      1       6               1       1
1291                   0      1       8               0       1
1292                   9      5       1               1       0
1293                   0      6       1               0       0
1294                   0      5       4               0       1
1295                   0      3       5               0       1
1296                 1.6      3       8               0       1
1297                   0      9       0               1       0

In [41]:
data_set.corr()

,Member_ID,Age,Smokes,AreaQ,Alkhol,family history,Result
Member_ID,1.000000,0.053895,0.030370,-0.028592,0.005043,-0.033763,0.045809
Age,0.053895,1.000000,0.053665,-0.268957,0.318621,-0.124552,0.637726
Smokes,0.030370,0.053665,1.000000,-0.353295,0.469915,0.000728,0.373444
AreaQ,-0.028592,-0.268957,-0.353295,1.000000,-0.714412,0.132520,-0.746621
Alkhol,0.005043,0.318621,0.469915,-0.714412,1.000000,-0.135589,0.810439
family history,-0.033763,-0.124552,0.000728,0.132520,-0.135589,1.000000,-0.191686
Result,0.045809,0.637726,0.373444,-0.746621,0.810439,-0.191686,1.000000